<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>controller.Usuario</servlet-name>
    <servlet-class>controller.Usuario</servlet-class> 
  </servlet>

  <servlet-mapping>
    <servlet-name>controller.Usuario</servlet-name>
    <url-pattern>/usuario</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>controller.Estado</servlet-name>
    <servlet-class>controller.Estado</servlet-class> 
  </servlet>

  <servlet-mapping>
    <servlet-name>controller.Estado</servlet-name>
    <url-pattern>/estado</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>controller.Biografia</servlet-name>
    <servlet-class>controller.Biografia</servlet-class> 
  </servlet>

  <servlet-mapping>
    <servlet-name>controller.Biografia</servlet-name>
    <url-pattern>/biografia</url-pattern>
  </servlet-mapping>

</web-app>
